# Dependencies
node_modules/

# Build
dist/


# Build
data/media

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Data exports
data/*.json

# OS
.DS_Store
Thumbs.db
